.hidden {
  display: none;
}

body {
  background: rgb(253, 253, 254);
  background: -moz-linear-gradient(
    142deg,
    rgba(253, 253, 254, 1) 23%,
    rgba(0, 212, 255, 0.29735644257703087) 100%
  );
  background: -webkit-linear-gradient(
    142deg,
    rgba(253, 253, 254, 1) 23%,
    rgba(0, 212, 255, 0.29735644257703087) 100%
  );
  background: linear-gradient(
    142deg,
    rgba(253, 253, 254, 1) 23%,
    rgba(0, 212, 255, 0.29735644257703087) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfe",endColorstr="#00d4ff",GradientType=1);
}
.container {
  padding: 0rem 10rem 0rem 10rem;
}

.container--blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: 0.7s;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) repeat(5, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
/*NAVIGATION MENU*/
.div1 {
  grid-area: 1 / 1 / 1 / 4;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px rgba(255, 255, 255, 0);
  max-height: 9vh;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10vh;
  width: 27vw;
}

.div3 {
  grid-area: 1/3/1/4;
  z-index: 10;
}
.div3 nav {
  float: right;
  padding-right: 2rem;
}

.added-words--flex {
  grid-area: 2/3/2/4;
  justify-content: flex-end;
  position: absolute;
  right: 9vw;
  top: 8vw;
  width: 30vw;
  flex-wrap: wrap;
  display: flex;
  transition: 2s;
}

.added-words {
  margin-top: -9px;
  margin-right: -15%;
  grid-area: 2/3/2/4;
  width: 50%;
  text-align: center;
  z-index: 30;
}

.word-div--mini {
  width: 100%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 1s, opacity 1s;
  margin-right: 2rem;
  scale: 0.7;
  cursor: pointer;
}
.word-div--mini:hover {
  background-color: rgb(228, 235, 255);
  transition: 0.5s;
}

.a-mini {
  width: 1%;
}
/* .favorites:hover + .added-words--flex {
  opacity: 1;
  transition: 0.5s;
  pointer-events: all;
}*/

.favorites-active {
  background-color: rgb(228, 235, 255);
  border-radius: 20px;
}

.logo {
  background-image: url('../img/logo_transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
  scale: 1;
  height: 10vh;
  width: 10vw;
  background-position: center;
  background-clip: content-box;
}

@media only screen and (max-width: 1200px) {
  body .layout {
    grid-template-rows: 10vh 12vh 20vh auto 50vh 10vh;
  }

  .logo {
    background-image: url('../img/logo_transparent.png');
    background-repeat: no-repeat;
    background-size: contain;
    scale: 2;
    height: 10vh;
    width: 10vw;
    background-position: center;
    background-clip: content-box;
  }

  .container {
    padding: 0;
  }

  body .word-active {
    all: initial;
    z-index: 100;
    background-color: #f1f3fa;
    border-radius: 20px;
    flex-direction: column;
    grid-area: 4 / 1 / 7 / 4;
    width: 95%;
    margin-bottom: 10px;
    padding: 20px;
    transition: transform 1s, opacity 1s;
    display: flex;
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
  }
  body .word-div {
    grid-row-gap: 10px;
    scrollbar-color: #0000;
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-area: 3 / 1 / 4 / 4;
    height: 85%;
    padding: 10px 35px;
    transition: transform 0.2s;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    max-height: 19vh;
  }
  .word-div--element {
    scale: 0.9;
    max-height: 15vh;
    overflow: hidden;
  }
  body .search--bar {
    width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: small;
  }

  body .navigation--menu {
    flex-wrap: nowrap;
  }

  body .added-words--flex {
    /* flex-wrap: wrap; */
    grid-area: 2 / 3 / 2 / 4;
    justify-content: flex-start;
    width: 100vw;
    transition: all 2s;
    display: flex;
    position: absolute;
    top: 8vw;
    right: 9vw;
    flex-direction: row;
  }

  body .added-words {
    text-align: center;
    z-index: 30;
    grid-area: 2 / 3 / 2 / 4;
    width: 100%;
    margin-top: -9px;
    margin-right: -15%;
    flex-direction: row;
  }
  body .added-words:not(.hidden) {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-left: 12vw;
    overflow: scroll;
  }
}
@media only screen and (max-width: 700px) {
  .logo {
    background-image: url('../img/logo_transparent.png');
    background-repeat: no-repeat;
    background-size: contain;
    scale: 3;
    height: 10vh;
    width: 10vw;
    background-position: center;
    background-clip: content-box;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    background-image: url('../img/logo_transparent.png');
    background-repeat: no-repeat;
    background-size: contain;
    scale: 4;
    height: 10vh;
    width: 10vw;
    background-position: center;
    background-clip: content-box;
  }

  body .added-words:not(.hidden) {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-left: 12vw;
    overflow: scroll;
  }
}

.navigation {
  justify-content: flex-end;
  align-items: center;
  height: 9vh;
  display: flex;
}

.navigation--menu {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
.navigation--menu li {
  padding: 3px 3rem;
  list-style-type: none;
}
.navigation--menu li:hover {
  transition: 0.5s;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50px;
  cursor: pointer;
}

/*SEARCH BAR*/
.form-query {
  /* background-color: purple; */
  grid-area: 2 / 1 / 3 / 4;
}
.search {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 2rem; */
}
.search--bar {
  width: 30%;
  padding: 1rem 12rem 1rem 1rem;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search--button {
  border-radius: 30px;
  padding: 0.5rem;
  margin-left: -2.78rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.search--button:hover {
  transition: 0.5s;
  background-color: rgba(220, 220, 220, 0.5);
}

/* WORD CARDS*/
.word-div--hidden {
  opacity: 0;
  transform: translateX(10rem);
}

.word-div {
  grid-area: 3 / 1 / 8 / 2;
  grid-row-gap: 10px;
  transition: transform 0.2s;
  height: 85%;
  overflow: scroll;
  scrollbar-color: rgba(0, 0, 0, 0);
  padding: 5px 5px 5px 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 35px;
}
.word-div::-webkit-scrollbar {
  display: none;
}
.word-div a:visited {
  color: black;
  text-decoration: none;
}
.word-div a:link {
  color: black;
  text-decoration: none;
  cursor: default;
}
.word-div--element:hover {
  background-color: rgb(228, 235, 255);
  text-decoration: none;
  transition: 1s;
  transform: scale(1.05);
}

.word-div--element {
  width: 95%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 1s, opacity 1s;
  margin-bottom: 10px;
  margin-right: 2rem;
}

.word-div--element-active {
  background-color: rgb(228, 235, 255);
}

.word-active {
  width: 80%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 1s, opacity 1s;
  grid-area: 3 / 2 / 8 / 4;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 100;
}
.word-active--head {
  display: flex;
  flex-direction: row;
}

.save-word {
  cursor: pointer;
}

.word-active--title {
  /* background-color: #b3d4fc; */
  flex: 30;
  font-size: 42px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 20px;
  width: 40%;
}
.word-active--sound {
  /* background-color: #848586; */
  flex: 70;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.word-active--word {
  flex: 5;
  font-weight: bold;
}
.word-active--phonetic {
  flex: 10;
  font-size: 24px;
  padding-left: 10px;
  font-style: italic;
}
.word-active--part {
  flex: 20;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.word-active--part span {
  font-style: underline;
}

.word-active--synonyms {
  flex-direction: row;
  font-size: 22px;
  padding: 20px 0px 10px 0px;
}
.word-active--synonyms .word-active--description {
  padding-top: 0px;
  padding-left: 5px;
  font-size: 22px;
}
.word-active--body {
  /* background-color: #6fadfa; */
  flex: 60;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.word-active--description {
  flex: 50;
  font-size: 20px;
  padding-top: 20px;
}
.word-active--footer {
  /* background-color: #bac0c7; */
  flex: 10;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.word-active--source {
  flex: 50;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 75%;
  align-items: center;
}

.word-div--content {
  display: flex;
  flex-direction: column;
}
.word-div--head {
  display: inline-flex;
  padding: 20px 15px;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}

.word-div--word {
  width: fit-content;
}
.word-div--speech {
  padding-left: 20px;
  font-style: italic;
  font-size: 22px;
}

/* .word-div--definition {
  padding-left: 15px;
}*/
.word-div--body {
  display: inline-flex;
  padding: 0px 15px 0px 15px;
  font-size: 16px;
  align-items: center;
}

.word-div--arrow {
  height: 80%;
  padding-left: 2vw;
  float: right;
}

.word-div--arrow span img {
  cursor: pointer;
}

.word-div--label {
  font-weight: bold;
}
.word-div--footer {
  display: inline-flex;
  padding: 25px 25px 20px 15px;
  font-size: 14px;
  align-items: flex-start;
}

.div6 {
  background-color: rgb(53, 170, 121);
  grid-area: 4 / 1 / 5 / 4;
}

.div7 {
  display: flex;
  height: 5vh;
  width: 110%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Menlo, monospace;
  position: fixed;
  overflow: hidden;
}

.error {
  max-width: 40rem;
  margin: 0 41vw;
  width: 30vw;
  height: 3vw;
  display: flex;
  border-style: solid;
  position: absolute;
  z-index: 1000;
  align-items: center;
  top: 15vw;
  border-radius: 20px;
}
.error span {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  padding-right: 20px;
  align-items: flex-start;
}

.error p {
  flex: 90;
  text-align: center;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 2rem;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
span {
  display: inline-block;
}
span.horizontal-shake {
  animation: horizontal-shaking 0.35s infinite;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
