.hidden {
  display: none;
}

body {
  background: rgb(253, 253, 254);
  background: -moz-linear-gradient(
    142deg,
    rgba(253, 253, 254, 1) 23%,
    rgba(0, 212, 255, 0.29735644257703087) 100%
  );
  background: -webkit-linear-gradient(
    142deg,
    rgba(253, 253, 254, 1) 23%,
    rgba(0, 212, 255, 0.29735644257703087) 100%
  );
  background: linear-gradient(
    142deg,
    rgba(253, 253, 254, 1) 23%,
    rgba(0, 212, 255, 0.29735644257703087) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfe",endColorstr="#00d4ff",GradientType=1);
}
.container {
  padding: 0rem 3rem 0rem 3rem;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) repeat(5, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: blue;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: red;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: green;
  justify-content: center;
}
.navigation {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.navigation--menu {
  display: inline-flex;
  flex-wrap: wrap;
}
.navigation--menu li {
  padding: 0rem 3.5rem 0rem 3.5rem;
}

.form-query {
  /* background-color: purple; */
  grid-area: 2 / 1 / 3 / 4;
}
.search {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 2rem; */
}
.search--bar {
  width: 30%;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search--button {
  border-radius: 30px;
  padding: 0.5rem;
  margin-left: -2.78rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.search--button:hover {
  transition: 0.5s;
  background-color: rgba(220, 220, 220, 0.5);
}

.word-div {
  margin-left: -20%;
  margin-right: -20%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: 3 / 2 / 4 / 3;

  border: 2px;
}
.word-div2 {
  margin-left: -20%;
  margin-right: -20%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: 4 / 2 / 4 / 3;
}
.word-div3 {
  margin-left: -20%;
  margin-right: -20%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: 5 / 2 / 5 / 3;
}
.word-div4 {
  margin-left: -20%;
  margin-right: -20%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: 6 / 2 / 6 / 3;
}
.word-div5 {
  margin-left: -20%;
  margin-right: -20%;
  background-color: rgb(241, 243, 250);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: 7 / 2 / 7 / 3;
}

.word-div--content {
  display: flex;
  flex-direction: column;
}
.word-div--head {
  display: inline-flex;
  padding: 20px 15px;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}

.word-div--word {
  width: fit-content;
}
.word-div--speech {
  padding-left: 20px;
}

/* .word-div--definition {
  padding-left: 15px;
}*/
.word-div--body {
  display: inline-flex;
  padding: 0px 15px 0px 15px;
  font-size: 16px;
  align-items: center;
}

.word-div--arrow {
  height: 80%;
  padding-left: 2vw;
}
.word-div--label {
  font-weight: bold;
}
.word-div--footer {
  display: inline-flex;
  padding: 25px 25px 20px 15px;
  font-size: 14px;
  align-items: flex-start;
}

.div6 {
  background-color: rgb(53, 170, 121);
  grid-area: 4 / 1 / 5 / 4;
}

.div7 {
  width: 10rem 3rem;
  background-color: #37383d;
}
